@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'onest-bold';
  src: url('/fonts/Onest-Bold.ttf');
}

@font-face {
  font-family: 'onest-regular';
  src: url('/fonts/Onest-Regular.ttf');
}
@font-face {
  font-family: 'onest-medium';
  src: url('/fonts/Onest-Medium.ttf');
}
* {
  /* border: 1px solid red; */
}
html,
body {
  scroll-behavior: smooth;
  font-family: 'onest-regular', sans-serif;
}

.bghomegradient {
  background: linear-gradient(
    to right,
    rgb(15, 32, 39),
    rgb(32, 58, 67),
    rgb(44, 83, 100)
  );
}

@keyframes flameAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.flame {
  animation: flameAnimation 1s ease-in-out infinite;
}

.scale-in-tr {
  -webkit-animation: scale-in-tr 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-tr 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.scale-out-tr {
  -webkit-animation: scale-out-tr 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-out-tr 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

.scale-out-tr {
  -webkit-animation: scale-out-tr 0.9s cubic-bezier(0.165, 0.84, 0.44, 1) both;
  animation: scale-out-tr 0.9s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

@keyframes scale-out-tr {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
}

.rotate-out {
  -webkit-animation: rotate-out 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: rotate-out 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes rotate-out {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(290deg);
  }
}
