@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

  html,
  body {
    scroll-behavior: smooth;
    font-family: 'Archivo', sans-serif;
  }
}
